.NavBar {
  display: flex;
  justify-content: center;
}

.NavBar-link, .NavBar-title {
  margin: 0 10px;
}

.NavBar-title {
 display: inline;
}

/* .NavBar-welcome, .NavBar-title {
  color: grey;
} */